{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<br>
<div class="container">
   <h2>{{category.name}}</h2>
   {% include "flashMessage.html" %}
   {% if not items %}
   <h3>Their is no item in this category</h3>
   {% endif %}
   {% for item in items %}
   <a href = "{{ url_for('readItem',category_name=category.name,category_item=item.name)}}">
      <h3> {{item.name}}</h3>
   </a>
   <a href = "{{ url_for('editItem',category_name = category.name,category_item=item.name)}}">
      <h4>Edit Item</h4>
   </a>
   <a href ="{{ url_for('deleteItem',category_name = category.name,category_item=item.name)}}">
      <h4>Delete Item</h4>
   </a>
   {% endfor %}
   <a href="{{ url_for('newItem', category_name = category.name)}}" >
      <h3> Create a New Item </h3>
   </a>
</div>
{% endblock %}
